
<div style=" margin: auto; width: 50%;">
  
  <div class="card">
    <div class="card-header" >

      <button (click)="exportexcel()" class="btn btn-primary">Export to Excel </button>
    </div>
    <table id="excel-table"></table>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">username</th>
            <th scope="col">email</th>
          </tr>
        </thead>
        <tbody>
        <tr>
        <tr *ngFor="let item of userList">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.username}}</td>
          <td>{{item.email}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>